# Copie en .env et adapte
DEBUG=True
SECRET_KEY=b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACCUNwSqTyibKzjIJeQE0QDceeqBEXukjoyY5t+L5d9fUQAAAIgqV5Z9KleW
fQAAAAtzc2gtZWQyNTUxOQAAACCUNwSqTyibKzjIJeQE0QDceeqBEXukjoyY5t+L5d9fUQ
AAAEA7QKFlCubI5pGcJAUbMlmg73qKMW+v5jG5pBo5sROLhZQ3BKpPKJsrOMgl5ATRANx5
6oERe6SOjJjm34vl319RAAAAAAECAwQF
